# Core functionality - changes here should be rare!
/src/app.py                   @PrestonONeill
/src/backend/database.py      @PrestonONeill
/src/backend/routers/auth.py  @PrestonONeill

# The frontend will need refactored soon to be more object oriented.
/src/static/   @PrestonONeill
